[Unit]
Description=Smart suspend service user daemon
After=default.target
#Requires=graphical.target


[Service]
Type=simple
Environment="PYTHONPATH=/usr/share/sleepybox"
User=%u
ExecStart=/usr/bin/python %h/sleepybox/sleepybox.py
ExecReload=/usr/bin/python %h/sleepybox/sleepybox.py

[Install]
WantedBy=default.target
